    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 

    <body layout:fragment="body">

        <div class="container">

            <h1>Lista de usuarios</h1>
            <!--        <ul>
                                                    EL - Expression language
                        <li th:each="usuario : ${usuarios}" th:text="${usuario.nombre}"></li>
                    </ul>-->
            <form th:action="@{/usuario/listado}" method="post" th:object="${usuariobusqueda}">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input type="text" class="form-control" placeholder="Apellido Paterno" id="apellidopaterno" name="apellidopaterno">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input type="text" class="form-control" placeholder="Apellido Materno" id="apellidomaterno" name="apellidomaterno">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-info col-md-">Buscar <i class="bi bi-search"></i></butoon>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <a th:href="@{/usuario/form/{idusuario}(idusuario=0)}" class="btn btn-success">Agregar</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Eliminar</th>
                        <th scope="col">IdUsuario</th>
                        <th scope="col">Nombre</th>
                        <!--                <th scope="col">Apellido Paterno</th>
                                            <th scope="col">Apellido Materno</th>-->
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Curp</th>
                        <th scope="col">IdRol</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario: ${usuarios}">
                        <td>
                            <a th:href="@{/usuario/delete/{id}(id=${usuario.idusuario})}"  type="button" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                        <td th:text="${usuario.idusuario}"></td>
                        <td th:text="${usuario.nombre + ' ' + usuario.apellidopaterno + ' ' + usuario.apellidomaterno }"></td>
                        <!--                    <td th:text="${usuario.apellidopaterno}"></td>
                                            <td th:text="${usuario.apellidomaterno}"></td>-->
                        <td th:text="${usuario.getFechanacimiento()}"></td>
                        <td th:text="${usuario.username}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.password}"></td>
                        <td th:text="${usuario.sexo}"></td>
                        <td th:text="${usuario.telefono}"></td>
                        <td th:text="${usuario.celular}"></td>
                        <td th:text="${usuario.curp}"></td>
                        <td th:text="${usuario.rol.idrol}"></td>
                        <td>
                            <img th:if="${usuario.imagen != null and usuario.imagen !=''}" th:src="'data:image/png;base64,' + ${usuario.imagen}" style="max-width: 100%; max-height: 80px;" alt="Imagen desde la base de datos"/>
                            <img th:unless="${usuario.imagen != null and usuario.imagen !=''}" src="/image/defaultUser.png" style="max-width: 100%; max-height: 80px;" alt="Imagen por defecto" />
                        </td>
                        <td>
                            <div th:if="${usuario.status == 'N'}" class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" th:id="${usuario.idusuario}" onchange="ChangeStatus(this)">
                            </div>
                            <div th:unless="${usuario.status == 'N'}" class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" th:id="${usuario.idusuario}" onchange="ChangeStatus(this)" checked>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{/usuario/form/{idusuario}(idusuario=${usuario.idusuario})}" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script>
    function ChangeStatus(e) {
        var status = e.checked
        var idUsuario = e.id

        $.ajax({
            type: "GET",
            url: "/usuario/ChangeStatus",
            datatype: "json",
            data: {idUsuario: idUsuario, status: status},
            success: {},
            error: {
                //Alert
            }
        });
    }
</script>